player-connection-mode=Listen
player-connection-guid=3285086181
player-connection-debug=0
player-connection-project-name=MultiPool
player-connection-ip=172.19.196.170
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=82d01cd57b7244628a543d5ae954e680
